header {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    margin-bottom: 2rem;
    padding: 0 40px;
}

.links-container {
    display: flex;
    align-items: center;
    gap: 4rem;
    height: 100%;
    width: fit-content;
    &_link {
        position: relative;
        font-size: 1.8rem;
        color: #000;
        text-decoration: none;
        &:visited {
            color: #000;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            height: 0.2rem;
            width: 100%;
            background-color: #000;
            transform-origin: 0 50%;
            transform: scaleX(0);
            transition: 200ms ease-in-out;
        }
        &:hover::after {
            transform: scaleX(1);
        }
    }
}

.user-menu-container {
    position: relative;
    height: fit-content;
}