<li [formGroup]="formGroup">
  <span>Point {{ point.indice }} : </span>
  <label>
    X :
    <input
      type="number"
      [formControlName]="formControlNameX"
      [(ngModel)]="point.x"
      class="coor-field"
    />
    <span>mm , </span>
  </label>
  <label>
    Y :
    <input
      type="number"
      [formControlName]="formControlNameY"
      [(ngModel)]="point.y"
      class="coor-field"
    />
    <span>mm</span>
  </label>
  <!-- <button
    class="basic-button remove-point-button"
    (click)="removePoint()"
    *ngIf="point.indice !== 0"
    aria-label="Supprimer le point"
  >
    X
  </button> -->
</li>
