<h1>
  <span class="project-name">{{ projectName | titlecase }} :</span> Coefficients
  de fluage et d'équivalence - Coefficients d'équivalence
</h1>
<div class="main-content fluage-tool">
  <h2>Module de déformation instantanée</h2>
  <p>
    f<span class="indice">cm</span> = f<span class="indice">ck</span> + 8 =
    {{ fcm | number : "1.0-0" }}
    MPa
  </p>
  <p>
    E<span class="indice">cm</span>(t<span class="indice">0</span>) = E<span
      class="indice"
      >cm</span
    >
    = 22000 x (f<span class="indice">cm</span>/10)^(0.3) =
    {{ Ecm | number : "1.0-0" }} MPa
  </p>
  <h2>Module d'élasticité effectif tangent du béton</h2>
  <p>
    E<span class="indice">c,eff</span> = E<span class="indice">cm</span>(t<span
      class="indice"
      >0</span
    >)/(1 + φ(∞,t<span class="indice">(0)</span>)) =
    {{ Eceff | number : "1.0-0" }} MPa
  </p>
  <h2>Coefficients d'équivalence</h2>
  <p>
    Pour le module d'élasticité effectif tangent du béton : α<span
      class="indice"
      >e</span
    >
    = E<span class="indice">s</span> / E<span class="indice">c,eff</span> =
    {{ alphaEeff | number : "1.0-2" }}
  </p>
  <p>
    Pour le module d'élasticité instantanée : α<span class="indice">e</span> =
    E<span class="indice">s</span> / E<span class="indice">cm</span> =
    {{ alphaEm | number : "1.0-2" }}
  </p>
</div>
<div class="bottom-links-container">
  <a routerLink="/column-tool/steels" class="basic-button">Précédent</a>
  <button
    type="submit"
    class="basic-button"
    (click)="saveProject()"
    [attr.aria-disabled]="accountService.connected === true ? 'false' : 'true'"
  >
    Enregistrer
  </button>
</div>
<div class="messages">
  <p class="warning-message" *ngIf="errorOnProjectSave === true">
    Le projet n'a pas pu être enregistré.
  </p>
  <p class="success-message" *ngIf="projectSaved === true">
    Le projet a été enregistré.
  </p>
</div>
