.up-container {
    display: flex;
    gap: 4rem;
}
.bold {
    font-weight: bold;
}
.svg-container {
    position: relative;
}
svg {
    height: 400px;
    width: 340px;
    background-color: white;
    & rect {
        stroke: black;
        stroke-width: 0.2rem;
        fill: transparent;
    }
}
.single-steel {
    position: absolute;
    background-color: black;
    border-radius: 50%;
}
.steels-indicator {
    position: absolute;
    left: 0;
    transform: translateX(-120%);
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    background-color: #268D75;
}
