<h1>
  {{ sectionToolService.projectName | titlecase }} : Calcul de section à parois
  minces - Aire efficace
</h1>
<div class="main-content">
  <p *ngIf="notAvailableYet === true">
    Le calcul de l'aire efficace des C munis de bords tombés à double pli n'est
    pas encore disponible.
  </p>
  <div class="results-container" *ngIf="notAvailableYet === false">
    <h2>Dimensions :</h2>
    <ul>
      <li
        [ngStyle]="{ color: 'blue' }"
        *ngIf="sectionToolService.analyzedSection.wallsNumber >= 5"
      >
        ceff : {{ sectionArea.topWing.ceff | number : "1.0-2" }} mm
      </li>
      <li
        [ngStyle]="{ color: 'green' }"
        *ngIf="sectionToolService.analyzedSection.wallsNumber >= 5"
      >
        be2 : {{ sectionArea.topWing.be2 | number : "1.0-2" }} mm
      </li>
      <li [ngStyle]="{ color: 'orange' }">
        be1 : {{ sectionArea.topWing.be1 | number : "1.0-2" }} mm
      </li>
      <li>
        tred : {{ sectionArea.topWing.stiffener.tred | number : "1.0-2" }} mm
      </li>
      <li [ngStyle]="{ color: 'brown' }">
        he1 : {{ sectionArea.web.be1 | number : "1.0-2" }} mm
      </li>
      <li [ngStyle]="{ color: 'purple' }">
        he2 : {{ sectionArea.web.be2 | number : "1.0-2" }} mm
      </li>
    </ul>
  </div>
  <div class="graphical-background" *ngIf="notAvailableYet === false">
    <div class="svg-container" #svg (mousemove)="handleMouseMove($event)">
      <span
        class="area-part"
        *ngIf="areaPart.length > 0"
        [ngStyle]="{
          left: coordonatesPosition.x + 20 + 'px',
          top: coordonatesPosition.y + 20 + 'px'
        }"
        >{{ areaPart }}</span
      >
      <svg class="svg-container_svg" xmlns="http://www.w3.org/2000/svg">
        <polyline
          fill="none"
          [attr.points]="sectionToolService.pointsSvgAttribute"
          stroke-width="4"
          [attr.stroke]="'black'"
        />
        <polyline
          fill="none"
          [attr.points]="be1SvgCoor"
          stroke-width="8"
          [attr.stroke]="'orange'"
          (mouseover)="handleAreaPart('be1')"
          (mouseleave)="handleAreaPart('')"
        />
        <polyline
          fill="none"
          [attr.points]="otherSvgCoor"
          stroke-width="8"
          [attr.stroke]="'pink'"
        />
        <polyline
          fill="none"
          [attr.points]="be2SvgCoor"
          stroke-width="8"
          [attr.stroke]="'green'"
          *ngIf="sectionToolService.analyzedSection.wallsNumber >= 5"
          (mouseover)="handleAreaPart('be2')"
          (mouseleave)="handleAreaPart('')"
        />
        <polyline
          fill="none"
          [attr.points]="ceffSvgCoor"
          stroke-width="8"
          [attr.stroke]="'blue'"
          *ngIf="sectionToolService.analyzedSection.wallsNumber >= 5"
          (mouseover)="handleAreaPart('ceff')"
          (mouseleave)="handleAreaPart('')"
        />
        <polyline
          fill="none"
          [attr.points]="he1SvgCoor"
          stroke-width="8"
          [attr.stroke]="'brown'"
          (mouseover)="handleAreaPart('he1')"
          (mouseleave)="handleAreaPart('')"
        />
        <polyline
          fill="none"
          [attr.points]="he2SvgCoor"
          stroke-width="8"
          [attr.stroke]="'purple'"
          (mouseover)="handleAreaPart('he2')"
          (mouseleave)="handleAreaPart('')"
        />
      </svg>
    </div>
  </div>
</div>
<div class="bottom-links-container">
  <a routerLink="./../sollicitation" class="basic-button">Précédent</a>
  <button
    type="submit"
    class="basic-button"
    [attr.aria-disabled]="notAvailableYet === true ? 'true' : 'false'"
    (click)="onSubmitForm()"
  >
    Calculer les propriétés
  </button>
</div>
