.main-container {
    display: flex;
    justify-content: space-between;
    min-width: 60rem;
    max-width: 75%;
    padding: 20px;
    background-color: #fff;
    &_open-button {
        font-weight: bold;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &_details-button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &_arrow {
            position: relative;
            top: -0.2rem;
            display: block;
            transition: 200ms ease-in-out;
        }
    }
}

.details-container {
    width: 100%;
    padding: 5px 20px 20px 20px;
    background-color: #fff;
    & p {
        margin: 0.5rem;
    }
}

