<div class="main-container">
  <h3>
    <a [routerLink]="tool.url" class="main-container_title">{{ tool.title }}</a>
  </h3>
  <button
    class="main-container_details-button"
    (click)="onDetailsButtonClick()"
  >
    Voir détails
    <span
      class="main-container_details-button_arrow"
      [ngStyle]="{
        transform: tool.detailsHidden === true ? 'rotate(180deg)' : '',
        top: tool.detailsHidden === true ? '0' : ''
      }"
      >&#11206;</span
    >
  </button>
</div>
<div class="details-container" *ngIf="tool.detailsHidden === true">
  <p>{{ tool.description }}</p>
  <p>{{ tool.norm }}</p>
</div>
