<h1>
  {{ sectionToolService.projectName | titlecase }} : Calcul de section à parois
  minces - Analyse
</h1>
<div class="main-content">
  <div class="results-container">
    <p>
      {{
        analyzedSection.xSymetry.isXSymetric === true
          ? "La section est symétrique selon X."
          : "La section n'est pas symétrique selon X."
      }}
    </p>
    <ul>
      <li>
        Aile supérieure :
        <span
          [ngStyle]="{
            color: analyzedSection.topWing.compliant === true ? 'green' : 'red'
          }"
          >{{
            analyzedSection.topWing.compliant === true
              ? "conforme"
              : "non conforme"
          }}</span
        >
      </li>
      <li>
        Ame :
        <span
          [ngStyle]="{
            color: analyzedSection.web.compliant === true ? 'green' : 'red'
          }"
          >{{
            analyzedSection.web.compliant === true ? "conforme" : "non conforme"
          }}</span
        >
      </li>
      <li>
        Aile inférieure :
        <span
          [ngStyle]="{
            color:
              analyzedSection.bottomWing.compliant === true ? 'green' : 'red'
          }"
          >{{
            analyzedSection.bottomWing.compliant === true
              ? "conforme"
              : "non conforme"
          }}</span
        >
      </li>
    </ul>
    <p>Nombre de raidisseurs : {{ analyzedSection.wallsNumber > 3 ? 2 : 0 }}</p>
    <p *ngIf="analyzedSection.wallsNumber > 3">
      Type de raidisseurs :
      {{ analyzedSection.wallsNumber === 5 ? "simple pli" : "double pli" }}
    </p>
    <ul *ngIf="analyzedSection.wallsNumber > 3">
      <li>
        Raidisseur aile inférieure :
        <span
          [ngStyle]="{
            color:
              analyzedSection.bottomWing.stiffener.compliant === true
                ? 'green'
                : 'red'
          }"
          >{{
            analyzedSection.bottomWing.stiffener.compliant === true
              ? "conforme"
              : "non conforme"
          }}</span
        >
      </li>
      <li>
        Raidisseur aile supérieure :
        <span
          [ngStyle]="{
            color:
              analyzedSection.topWing.stiffener.compliant === true
                ? 'green'
                : 'red'
          }"
          >{{
            analyzedSection.topWing.stiffener.compliant === true
              ? "conforme"
              : "non conforme"
          }}</span
        >
      </li>
    </ul>
  </div>
  <div class="graphical-background">
    <div class="svg-container" #svg>
      <svg class="svg-container_svg" xmlns="http://www.w3.org/2000/svg">
        <polyline
          fill="none"
          [attr.points]="bottomStiffenerSvgCoor"
          stroke-width="4"
          [attr.stroke]="
            analyzedSection.bottomWing.stiffener.compliant === true
              ? 'green'
              : 'red'
          "
          *ngIf="analyzedSection.wallsNumber >= 5"
        />
        <polyline
          fill="none"
          [attr.points]="bottomWingSvgCoor"
          stroke-width="4"
          [attr.stroke]="
            analyzedSection.bottomWing.compliant === true ? 'green' : 'red'
          "
        />
        <polyline
          fill="none"
          [attr.points]="topWingSvgCoor"
          stroke-width="4"
          [attr.stroke]="
            analyzedSection.topWing.compliant === true ? 'green' : 'red'
          "
        />
        <polyline
          fill="none"
          [attr.points]="topStiffenerSvgCoor"
          stroke-width="4"
          [attr.stroke]="
            analyzedSection.topWing.stiffener.compliant === true
              ? 'green'
              : 'red'
          "
          *ngIf="analyzedSection.wallsNumber >= 5"
        />
        <polyline
          fill="none"
          [attr.points]="webSvgCoor"
          stroke-width="4"
          [attr.stroke]="
            analyzedSection.web.compliant === true ? 'green' : 'red'
          "
        />
      </svg>
    </div>
  </div>
  <div class="bottom-links-container">
    <a routerLink="./../geometry" class="basic-button">Précédent</a>
    <button
      type="submit"
      class="basic-button"
      (click)="submitForm()"
      [attr.aria-disabled]="
        analyzedSection.topWing.compliant === true &&
        analyzedSection.bottomWing.compliant === true &&
        analyzedSection.topWing.stiffener.compliant === true &&
        analyzedSection.bottomWing.stiffener.compliant === true &&
        analyzedSection.web.compliant === true
          ? 'false'
          : 'true'
      "
    >
      Analyser la section
    </button>
  </div>
</div>
