<h1>{{ projectName }} : Calcul de section à parois minces - Géométrie</h1>
<div class="main-content">
  <div class="canvas-container">
    <div class="canvas-container_axe canvas-container_axe--x"></div>
    <div class="canvas-container_axe canvas-container_axe--y"></div>
    <span
      class="canvas-container_coordonates"
      *ngIf="areCoordonatesVisible === true"
      [ngStyle]="{
        left: coordonatesPosition.x + 50 + 'px',
        top: coordonatesPosition.y + 50 + 'px'
      }"
      >x : {{ coordonatesPosition.x }} , y : {{ coordonatesPosition.y }}</span
    >
    <canvas
      class="section-canvas"
      #canvas
      (mouseover)="handleCoordonatesVisibility(true)"
      (mouseleave)="handleCoordonatesVisibility(false)"
      (mousemove)="handleMouseMove($event)"
    ></canvas>
  </div>
  <form [formGroup]="sectionForm">
    <p>
      <label>
        Epaisseur des parois :
        <input type="number" formControlName="thickness" /><span>mm</span>
      </label>
    </p>
    <fieldset>
      <legend>Contour</legend>
      <ul>
        <app-point-form-line
          *ngFor="let point of geometry"
          [point]="point"
          [formGroup]="sectionForm"
        ></app-point-form-line>
      </ul>
      <button class="basic-button" (click)="createNewPoint()">
        + Ajouter un point
      </button>
    </fieldset>
    <p class="warning-message" *ngIf="errorOnSubmit === true">
      La section doit contenir au moins deux parois !
    </p>
    <input
      type="submit"
      value="Analyser la section"
      class="basic-button"
      (click)="submitForm()"
    />
  </form>
</div>

<a routerLink="/.." class="basic-button">Précédent</a>
