<h1>
  <span class="project-name">{{ projectName | titlecase }} :</span> Calcul de
  section à parois minces - Géométrie
</h1>
<div class="main-content">
  <div class="graphical-background">
    <div
      class="svg-container"
      #svg
      (mouseover)="handleMouseOverSvg()"
      (mouseleave)="handleCoordonatesVisibility(false)"
      (mouseup)="handleMouseDownOnPoint(false)"
    >
      <span
        class="svg-container_coordonates"
        *ngIf="areCoordonatesVisible === true"
        [ngStyle]="{
          left: coordonatesPosition.x + 50 + 'px',
          top: coordonatesPosition.y + 50 + 'px'
        }"
        >{{ mouseOverPoint ? "Point " + currentPoint.index + " :" : "" }} x :
        {{
          mouseOverPoint
            ? currentPoint.x
            : ((coordonatesPosition.x * coorMax) / 300 | number : "1.0-0")
        }}
        , y :
        {{
          mouseOverPoint
            ? currentPoint.y
            : (((300 - coordonatesPosition.y) * coorMax) / 300
              | number : "1.0-0")
        }}</span
      >
      <span class="svg-container_indicator svg-container_indicator--origin"
        >(0,0)</span
      >
      <div
        class="svg-container_point"
        *ngFor="let point of geometry"
        [ngStyle]="{
          left: (point.x * 300) / coorMax + 'px',
          bottom: (point.y * 300) / coorMax + 'px'
        }"
      >
        <span
          class="svg-container_point_geometry"
          (mouseover)="handleMouseOverPoint(point)"
          (mouseleave)="handleMouseLeavePoint()"
          (mousedown)="handleMouseDownOnPoint(true)"
        ></span>
        <span class="svg-container_point_index">{{
          geometry.indexOf(point)
        }}</span>
      </div>
      <span class="svg-container_indicator svg-container_indicator--X">X</span>
      <span class="svg-container_indicator svg-container_indicator--Y">Y</span>
      <div class="svg-container_axe svg-container_axe--x">
        <span class="svg-container_axe_length">{{ coorMax }} mm</span>
        <span class="svg-container_axe_arrow"></span>
      </div>
      <div class="svg-container_axe svg-container_axe--y">
        <span class="svg-container_axe_length">{{ coorMax }} mm</span>
        <span class="svg-container_axe_arrow"></span>
      </div>
      <svg
        class="svg-container_svg"
        xmlns="http://www.w3.org/2000/svg"
        (mousemove)="handleMouseMove($event)"
      >
        <polyline
          fill="none"
          [attr.points]="pointsSvgAttribute"
          [attr.stroke-width]="sectionThickness"
        />
      </svg>
    </div>
  </div>
  <form [formGroup]="sectionForm">
    <p>
      <label>
        Epaisseur des parois :
        <input
          type="number"
          formControlName="thickness"
          class="thickness-field"
          max="4"
          min="1"
        /><span>mm</span>
      </label>
    </p>
    <fieldset>
      <legend>Contour</legend>
      <ul class="points-list">
        <app-point-form-line
          *ngFor="let point of geometry"
          [geometry]="geometry"
          [point]="point"
          [formGroup]="sectionForm"
        ></app-point-form-line>
      </ul>
      <button
        class="basic-button"
        (click)="createNewPoint()"
        [attr.aria-disabled]="geometry.length === 8 ? 'true' : 'false'"
      >
        + Ajouter un point
      </button>
    </fieldset>
    <div class="warnings-container" *ngIf="errorOnSubmit !== ''">
      <h2>A corriger :</h2>
      <p class="warning-message" *ngIf="errorOnSubmit === 'closed'">
        La section n'est pas un C !
      </p>
      <p class="warning-message" *ngIf="errorOnSubmit === 'min-walls'">
        La section doit contenir au moins deux parois !
      </p>
      <p class="warning-message" *ngIf="errorOnSubmit === 'pair-walls'">
        La section possède un nombre de parois paire !
      </p>
    </div>
    <div class="bottom-links-container">
      <a routerLink="./.." class="basic-button">Précédent</a>
      <button type="submit" class="basic-button" (click)="submitForm()">
        Analyser la section
      </button>
    </div>
  </form>
</div>
