<h1>Connexion</h1>
<p>Tous les champs sont obligatoires.</p>
<form
  class="account-form account-form--connexion"
  #connexionForm="ngForm"
  (ngSubmit)="onSubmitForm(connexionForm)"
>
  <p>
    <label for="emailInput">Email : </label>
    <input
      id="emailInput"
      name="userEmail"
      type="email"
      [(ngModel)]="userEmail"
    />
  </p>
  <p>
    <label for="passwordInput">Mot de passe : </label>
    <input id="passwordInput" name="userPassword" [(ngModel)]="userPassword" />
    <button>Voir</button>
  </p>
  <button type="submit">Se connecter</button>
  <p class="warning-message">
    Il n'existe aucun compte lié à cette adresse email.
  </p>
  <p class="warning-message">Le mot de passe est erroné.</p>
</form>
<p>
  Si vous n'avez pas encore de compte, vous pouvez vous inscrire
  <a routerLink="/subscription">ici</a>.
</p>
