<h1>Connexion</h1>
<p>Tous les champs sont obligatoires.</p>
<form
  class="account-form account-form--connexion"
  [formGroup]="connexionForm"
  (ngSubmit)="onSubmitForm()"
>
  <p>
    <label for="emailInput">Email : </label>
    <input
      id="emailInput"
      name="userEmail"
      type="email"
      formControlName="userEmail"
    />
  </p>
  <p>
    <label for="passwordInput">Mot de passe : </label>
    <input
      id="passwordInput"
      [attr.type]="isPasswordVisible === true ? 'text' : 'password'"
      name="userPassword"
      formControlName="userPassword"
    />
    <button
      class="basic-button basic-button--password"
      (click)="handlePasswordVisibility()"
    >
      {{ isPasswordVisible ? "Cacher" : "Voir" }}
    </button>
  </p>
  <button
    type="submit"
    class="basic-button"
    [attr.aria-disabled]="isFormInvalid === true ? 'true' : 'false'"
  >
    Se connecter
  </button>
  <p class="warning-message" *ngIf="checkAccountActive$ | async as result">
    {{
      result === "ok"
        ? ""
        : "Ce compte n'a pas encore été activé. Veuillez cliquer sur le lien contenu
    dans l'email de confirmation qui vous a été envoyé."
    }}
  </p>
  <p class="warning-message" *ngIf="checkExistingMail$ | async as result">
    {{
      result === "yes"
        ? ""
        : "Il n'existe aucun compte lié à cette adresse email."
    }}
  </p>
  <p class="warning-message" *ngIf="checkPassword$ | async as result">
    {{ result === "ok" ? "" : "Le mot de passe est erroné." }}
  </p>
</form>
<p>
  Si vous n'avez pas encore de compte, vous pouvez vous inscrire
  <a routerLink="/subscription">ici</a>.
</p>
