<h1>
  <span class="project-name">{{ projectName | titlecase }} :</span> Armatures
  pied de poteau en béton armé - Armatures
</h1>
<div class="main-content">
  <p>Moment réduit de référence à l'ELU :</p>
  <p>Moment réduit agissant :</p>
  <p>=> Section partiellement tendue</p>
  <h2>Nécessité d'aciers comprimés</h2>
  <p></p>
  <div class="bottom-links-container">
    <a routerLink="./.." class="basic-button">Précédent</a>
    <button type="submit" class="basic-button" (click)="onNextButtonClick()">
      Déterminer le ferraillage
    </button>
  </div>
</div>
