<h1>Inscription</h1>
<p *ngIf="confirmationMailSend === false">Tous les champs sont obligatoires.</p>
<form
  *ngIf="confirmationMailSend === false"
  class="account-form account-form--subscription"
  [formGroup]="subscriptionForm"
  (ngSubmit)="submitForm()"
>
  <p>
    <label for="emailInput">Email : </label>
    <input
      id="emailInput"
      name="userEmail"
      type="email"
      formControlName="userEmail"
    />
  </p>
  <div>
    <span>Le mot de passe doit contenir au moins :</span>
    <ul>
      <li>
        8 caractères
        <span
          *ngIf="
            subscriptionForm.value.userPassword !== null &&
            subscriptionForm.value.userPassword.length >= 8
          "
          [ngStyle]="{ color: 'green' }"
        >
          &#x2714;</span
        >
      </li>
      <li>
        1 lettre majuscule
        <span
          *ngIf="userPasswordIncludesUppercase === true"
          [ngStyle]="{ color: 'green' }"
        >
          &#x2714;</span
        >
      </li>
      <li>
        1 caractère spécial
        <span
          *ngIf="userPasswordIncludesSpecialCharacter === true"
          [ngStyle]="{ color: 'green' }"
        >
          &#x2714;</span
        >
      </li>
      <li>
        1 chiffre
        <span
          *ngIf="userPasswordIncludesNumber === true"
          [ngStyle]="{ color: 'green' }"
        >
          &#x2714;</span
        >
      </li>
    </ul>
    <label for="passwordInput">Mot de passe : </label>
    <input
      id="passwordInput"
      [attr.type]="isPasswordVisible === true ? 'text' : 'password'"
      name="userPassword"
      formControlName="userPassword"
    />
    <button
      class="basic-button basic-button--password"
      (click)="handlePasswordVisibility()"
    >
      {{ isPasswordVisible ? "Cacher" : "Voir" }}
    </button>
  </div>
  <p>
    Sécurité :
    <span [ngStyle]="{ color: userPasswordSecurityColor }">{{
      checkPassword$ | async
    }}</span>
  </p>
  <p>
    <label for="confirmedPasswordInput">Confirmez le mot de passe : </label>
    <input
      id="confirmedPasswordInput"
      [attr.type]="isConfirmedPasswordVisible === true ? 'text' : 'password'"
      name="userConfirmedPassword"
      formControlName="userConfirmedPassword"
    />
    <button
      class="basic-button basic-button--password"
      (click)="handleConfirmedPasswordVisibility()"
    >
      {{ isConfirmedPasswordVisible ? "Cacher" : "Voir" }}
    </button>
  </p>
  <button
    type="submit"
    class="basic-button"
    [attr.aria-disabled]="isFormInvalid === true ? 'true' : 'false'"
  >
    S'inscrire
  </button>
  <p class="warning-message" *ngIf="isExistingMail === true">
    Un compte existant est déjà associé à cette adresse email.
  </p>
  <p class="warning-message" *ngIf="arePasswordsSimilar === false">
    Les mots de passe ne sont pas identiques.
  </p>
  <p class="warning-message" *ngIf="errorOnSubmit === true">
    Une erreur s'est produite. Veuillez réessayer svp.
  </p>
</form>
<div *ngIf="confirmationMailSend === true" class="account-form">
  <p>Un mail de confirmation a été envoyé à l'adresse renseignée.</p>
  <p>
    Veuillez cliquer sur le lien contenu dans ce mail pour activer votre compte.
  </p>
</div>
<p *ngIf="confirmationMailSend === false">
  Vous avez déjà un compte ? Connectez-vous <a routerLink="/connexion">ici</a>.
</p>
