.main-content {
    display: flex;
    gap: 20px;
}
.results-container {
    padding: 1rem;
    background: #fff;
}
.graphical-background {
    padding: 4rem;
    background: #fff;
}
.svg-container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
    &_svg {
        width: 100%;
        height: 100%;
        stroke: #000;
    }
}
ul {
    list-style: none;
    margin-left: 1rem;
    margin-top: 1rem;
}