
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    font-size: 62.5%;
    font-family: 'Reddit','Roboto';
}
body {
    min-height: 100vh;
    max-height: 100vh;
    padding: 0 40px;
    font-size: 1.4rem;
}
h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
button {
    font-family: 'Reddit','Roboto';
    font-size: 1.4rem;
    text-align: start;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    background: linear-gradient(#BAFFB9,#D5FFD4);
}
input {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    padding: 0.4rem;
    border-color: #268D75;
    &[type='number'] {
        appearance: textfield;
        -moz-appearance:textfield;
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}
fieldset {
    margin-bottom: 1rem;
    padding: 1rem;
    border-color: #268D75;
    & legend {
        padding: 0 0.5rem;
    }
}
.main-menu {
    width: 100%;
}

.account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 4px 0.5px rgba(0,0,0,0.4);
    & button[type='submit'] {
        padding: 1rem;
        background-color: #51E950;
        border: none;
        cursor: pointer;
    }
}
.warning-message {
    font-size: 1.4rem;
    font-weight: bold;
    color: red;
}
.basic-button {
    padding: 1rem;
    background-color: #51E950;
    border: none;
    opacity: 0.5;
    &:not([aria-disabled='true']) {
        opacity: 1;
        cursor: pointer;
    }
}
.bottom-links-container {
    display: flex;
    gap: 4rem;
    margin: 2rem;
    & a {
        padding: 1rem;
        color: #000;
        text-decoration: none;
        background-color: #51E950;
        border: none;
        cursor: pointer;
        &:visited {
            color: #000;
        }
    }
}
.project-name {
    color: #268D75;
    font-weight: bold;
}



.projects {
    width: 100%;
}