
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    min-height: 100vh;
    padding: 40px;
    font-size: 1.4rem;
}
h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    background-color: #ACFDAB;
}
.main-menu {
    width: 100%;
}
.tool {
    position: relative;
    z-index: 0;
    display: block;
    margin-bottom: 2rem;
    box-shadow: 0 0 4px 0.5px rgba(0,0,0,0.4);
}

.account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 4px 0.5px rgba(0,0,0,0.4);
    & button[type='submit'] {
        padding: 1rem;
        background-color: #51E950;
        border: none;
        cursor: pointer;
    }
}
.warning-message {
    font-size: 1.4rem;
    font-weight: bold;
    color: red;
}