<h1>
  <span class="project-name">{{ projectName | titlecase }} :</span> Armatures
  pied de poteau en béton armé - Résistances
</h1>
<div class="main-content">
  <h2>Béton</h2>
  <p>
    Résistance de calcul : f<span class="indice">cd</span> =
    {{ strengths.fcd | number : "1.0-2" }} MPa
  </p>
  <p>
    Résistance de calcul : f<span class="indice">cu</span> =
    {{ strengths.fcu | number : "1.0-2" }} MPa
  </p>
  <p>
    Résistance à la traction : f<span class="indice">ctm</span> =
    {{ strengths.fctm | number : "1.0-2" }} MPa
  </p>
  <p *ngIf="isELSStressLimited === true">
    Contrainte limite à l'ELS : σ<span class="indice">c</span> =
    {{ strengths.sigmac | number : "1.0-2" }} MPa
  </p>
  <h2>Aciers</h2>
  <p>
    Résistance de calcul : f<span class="indice">yd</span> =
    {{ strengths.fyd | number : "1.0-2" }} MPa
  </p>
  <p>
    Contrainte limite à l'ELS : σ<span class="indice">s</span> =
    {{ strengths.sigmas | number : "1.0-2" }} MPa
  </p>
  <div class="bottom-links-container">
    <a routerLink="/column-tool/properties" class="basic-button">Précédent</a>
    <button type="submit" class="basic-button" (click)="onNextButtonClick()">
      Calculer les sollicitations
    </button>
  </div>
</div>
