<h1>Calcul des résistance et déformation des éléments bois</h1>
<form class="tool-form" [formGroup]="projectForm" (ngSubmit)="onSubmitForm()">
  <p>
    <label for="emailInput">Nom du projet : </label>
    <input
      id="project-name-input"
      name="projectName"
      type="text"
      formControlName="name"
      maxlength="25"
    />
  </p>
  <div class="bottom-links-container">
    <a
      routerLink=""
      *ngIf="woodStrengthDeformationService.modifyProject === false"
      >Retour aux outils</a
    >
    <a
      routerLink="/projects"
      *ngIf="woodStrengthDeformationService.modifyProject === true"
      >Retour aux projets</a
    >
    <button
      type="submit"
      class="basic-button"
      [attr.aria-disabled]="
        projectForm.value.name !== null && projectForm.value.name.length > 0
      "
    >
      {{
        woodStrengthDeformationService.modifyProject === true
          ? "Suivant"
          : "Démarrer la création"
      }}
    </button>
  </div>
</form>
<p class="warning-message" *ngIf="accountService.connected === false">
  Attention, vous n'êtes pas connecté et ne pourrez donc pas enregistrer votre
  projet.
</p>
